h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray;
}

#posts-container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

#new-post-title {
    font: bold;
}